* {
  border-radius: 0px;
  font-family: Noto Sans Mono, Hack, FontAwesome;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2
}

#window {
  background: #282828; 
}

#tags button {
  background: #282828;
  color: #ebdbb2;
  border-radius: 20px;
  opacity: 0;
}

#tags button.occupied {
  opacity: 1;
}

#tags button.focused {
  border-style: solid;
  border-color: #cc241d;
  opacity: 1;
}

#clock, #battery, #network, #custom-pipewire {
  background: #282828;
  padding: 0 10px;
  margin: 0 5px;
}
#battery, 
#clock,
#network,
#custom-pipewire,
#tags,
#window {
  padding: 0 10px;
  border-radius: 20px;
}

